.shopping-item {
    margin: 0 10px 15px 20px;
    border-radius: 20px;
    display: flex;
    background-color: #9ED890;
}

.shopping-item-url img {
    width: 80px;
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40%;
}

.shopping-item-name {
    margin-top: 10px;
    margin-left: 10px;
}

.shopping-item-price {
    margin-left: 10px;
}

.shopping-item-edit {
    display: flex;
    width: 100px;
    height: 10px;
    justify-content: space-around;
}

.shopping-item-button-trash button{
    background-color: transparent;
    border: transparent;
}

.shopping-item-button-plus button{
    background-color: transparent;
    border: transparent;
}

.shopping-item-button-trash img {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.shopping-item-button-plus img {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    width: 15px;
    height: 15px;
}