.card-Product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    /* Ajusta el ancho según tus necesidades */
    border: 1px solid #AB8742;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 20px;
}

.title {
    font-size: 16px;
    padding: 10px 10px 0 10px;
    margin-bottom: 6px;
    font-family: 'Sorts Mill Goudy', serif; 
    font-weight: bold;
}

.price {
    font-size: 16px;
    padding: 10px 10px 0 10px;
    margin-bottom: 8px;
    font-family: 'Sorts Mill Goudy', serif; 
    font-weight: bold;
}


.description {
    font-size: 13px;
    padding: 10px 10px 0 10px;
    font-family: 'Sorts Mill Goudy', serif; 
}

.body-card-product {
    padding: 10px;
    margin: auto;
}

.foot {
    background: #AB8742;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.foot button {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: transparent;
}

.foot a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}