/* SectionCards.css */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 300px;
  margin-left: 20px;
  margin-right: 20px;

}

.card {
  text-decoration: none;
  color: #000;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  width: 400px;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.card-body {
  padding: 1px;
  text-align: center;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card {
  text-decoration: none;
  color: #000;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.05);
}