.list-products{
    margin: 50px;
    margin-bottom: 500px;
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 300px;
    margin-right: 60px;
  }