
*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}