/* Carrusel.css */

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
    margin-bottom: 60px; /* Ajusta el margen inferior según tus necesidades */
  }  
  
  .slide {
    display: none;
  }
  
  .showing {
    display: block;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
  }
  
  .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .controls {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .controls:hover {
    background-color: #555;
  }
  