/* Carrusel.css */

.slider-container {
  position: relative;
  overflow: hidden;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  text-decoration: none;
  color: #000;
  transition: transform 0.2s ease-in-out;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
}

.slide {
  display: none;
}

.showing {
  display: block;
}

.slider-container img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.controls {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.controls:hover {
  background-color: #555;
  transition: background-color 0.3s ease; /* Agregado: transición suave al pasar el ratón */
}

/* Agregado: Estilo para los botones de navegación */
.controls.prev {
  border-radius: 50% 0 0 50%;
}

.controls.next {
  border-radius: 0 50% 50% 0;
}
